<%- include ('partials/header')  %>
  <div class="flex flex-col items-center justify-center relative top-16 sm:top-20 gap-5 ">
    <!-- Section 1 -->
    <section class="flex flex-col items-center gap-4 sm:gap-8 bg-[url('/images/hero-section/bg-hero-section.jpg')] bg-cover bg-center w-full sm:h-96  py-10 " id="acceuil">
      <div class="flex flex-col items-center gap-4 " >
        <h1 class=" font-semibold text-2xl sm:text-4xl text-white text-center p-2 sm:w-3/4 " >
          Adopter l'énergie solaire pour une vie plus <strong class="text-main-blue" >stable</strong> , c'est embrasser l'avenir !
        </h1>
        <h2 class="text-xl font-medium text-gray-900 opacity-90 sm:w-2/4 p-2 text-center " >Découvrez E-tech services SARL, une société experte dans les services liés à l'énergie solaire.</h2>        
      </div>
      <div class="flex flex-col sm:flex-row gap-2  " >
        <a href="/services" class="bg-main-blue hover:bg-white p-2 rounded-full text-white hover:text-main-blue font-medium pl-6 pr-6 border-4 border-transparent hover:border-main-blue " >Voir les services</a>
        <a href="/contact"  class="bg-main-yellow hover:bg-white p-2 rounded-full text-white hover:text-main-yellow font-medium pl-6 pr-6 border-4 border-transparent hover:border-main-yellow " >Nous contacter</a>
      </div>
    </section>
    <div class="mt-10">
      <!-- Section A propos -->
      <%- include ('partials/acceuil/sectionAbout')  %>

      <!-- Section Services -->
      <%- include ('partials/acceuil/sectionServices/sectionService')  %>

      <!-- Section pour les chiffres -->
      <%- include ('partials/acceuil/sectionChiffres/sectionChiffre') %>

      <!-- Section why us -->
      <%- include ('partials/acceuil/section-WhyUs/sectionWhyUs') %>

      <!-- Section Objectifs-->
      <%- include ('partials/acceuil/sectionObjectifs/sectionObjectifs',) %>

      <!-- Section Equipe -->
      <%- include ('partials/acceuil/sectionEquipe/sectionEquipe',) %>

      <!-- Section Temoignage -->
      <%- include ('partials/acceuil/sectionTemoignage/sectionTemoignage',) %>

      <!-- Formulaire de contact -->
      <%- include ('partials/acceuil/formulaire/formulaireDeContact',) %>      
    </div>
  </div>
<%- include ('partials/footer')  %>

